body{
	padding-top: 50px;
}
.btn-danger{
	margin-top: 9px;
}
.jumbotron{
	font-family: 'Raleway', sans-serif;

	text-align: center;
	color:#95a5a6;
	background: url(../image/eyes.jpg);
	font-weight: 100;
	margin-bottom: 0px;
}
.jumbotron h1{
	font-family: 'Raleway', sans-serif;
	margin-top: 0px;
	margin-bottom: 50px;
}
.jumbotron p{
	margin-bottom: 30px;
	padding: 0 100px;
	font-weight: 100;
}
.btn-lg{
	font-size: 1.2em;
	font-weight: 200;
	font-family: 'Raleway', sans-serif;
}
.homepage{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.homepage h2,h3{
	color:#e74c3c;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
.homepage h2{
	font-size: 30px;
}
.homepage h3{
	font-size: 20px;
}

.homepage hr{
	width: 13%;
	border-color: red;
	margin-top: 12px;
}
.homepage p{
	font-size: 21px;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;
}
.homepage a{
	color:#e74c3c;
}
.homepage a:hover{

	text-decoration:none;
	opacity: 0.7;
}
#specs{
	margin-top: 30px;
}
#gits{
	background-color: #f5f5f5;
}
span.log{
	font-weight: 200;
	font-style: italic;
	color:red;
	font-size: 1em;
	text-transform: uppercase;
}
div.innerfoot{
	padding-top: 50px;
	padding-bottom: 30px;
	
	text-align: center;
}
.innerfoot p{
	color:#fff;
	padding-top: 30px;
	padding-bottom: 30px;
}
.innerfoot h2{
	font-family: 'Raleway', sans-serif;
	text-transform: lowercase;
	font-size: 25px;
}
div#footcolor{
	background-color: #e74c3c;
}
footer{
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #ecf0f1;
	text-align: center;
}
footer p{
	color:#fff;
	padding-top: 30px;
	padding-bottom: 30px;
}
footer h2{
	color:#2c3e50;
	font-family: 'Raleway', sans-serif;
	text-transform: lowercase;
	font-size: 25px;
}
@media (max-width: 1130px){
	.jumbotron h1{
		font-size: 56px;
		margin-bottom: 30px;
	}
}
@media(max-width: 960px){
	.jumbotron h1{
		font-size: 30px;
	}
	.jumbotron p{
		font-size: 20px;
		padding: 0 10px;
	}
	#hopsy .col-md-4{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media(max-width: 740px){
	.jumbotron h1{
		font-size: 30px;
	}
	.jumbotron p{
		font-size: 15px;
		padding: 0;
	}
	.btn-lg{
		font-size: 13px;
	}
	#spec p{
		font-size: 17px;
	}
	.homepage h2{
		font-size: 20px;
	}
	.homepage p{
		font-size: 16px;
	}
	footer h2{
		font-size: 16px;
	}
	.innerfoot h2{
		font-size: 16px;
	}
}